# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\OOP2-Basic\windows_for_make\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
